<div class="flex justify-center items-center mt-5 gap-x-4">
    <a
        class="bg-chill-700 w-full text-center py-3 rounded-full font-semibold tracking-wide transition-shadow duration-300 ease-in-out hover:shadow-[0px_0px_8px_#ffffff60] hidden lg:inline-block"
        href="/DownloadCV"
        rel="noopener noreferrer"
        target="_blank"
    >
        Visitar CV
    </a>
    <a
        class="w-full max-w-max px-5 text-center py-3 rounded-full border-2 border-solid border-chill-900  transition-shadow duration-300 ease-in-out hover:shadow-[0px_0px_6px_#ffffff60]"
        href="/cvs/PaulDev-Porfolio.pdf"
        rel="noopener noreferrer"
        download="PaulDev-Curriculum.pdf"
    >
        Descargar CV
    </a>
</div>
