---
import Slider from "../components/Slider.astro";
---

<section id="portafolio">
    <h2 class="text-3xl font-bold text-chill-50 font-cinzel">Portafolio</h2>
    <Slider/>

    <!-- <h2 class="text-3xl font-bold text-chill-50 font-cinzel my-6">Skills</h2> -->
</section>